
@use "../presets" as *;

.coffee {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  &-image {
    &__picture {
      width: 100%;
    }
  }
  &-link {
    align-self: end;

    &__all {
      font-size: 20px;
      font-weight: 600;
      color: black;
      padding: 10px 20px;
      display: block;
      margin-right: 67px;
      border-radius: 40px;
      background-color: #EDFDFD;
    }
  }
  &-items {
    &__item {
      display: flex;
      gap: 10px;
      align-items: center;
    }
    &__item:nth-of-type(2n) {
      flex-direction: row-reverse;
    }
  }
  &-bg {
    padding-block: 100px;
    max-width: 800px;
    margin-inline: auto;
    img {
      width: 100%;
    }
  }
  &-goods {
    padding: 50px 20px;
    background-color: #EDFDFD;
    &__wrapper {
      display: flex;
      flex-wrap: wrap;
      gap: 75px;
      justify-content: center;
    }
    &__item {
      display: flex;
      gap: 17px;
      align-items: center;
      img {
        width: 80px;
      }
      p {
        max-width: 225px;
        color: #47C0CE;
        font-size: 24px;
        font-weight: 700;
      }
    }
  }

}