@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

ul, li {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1200px;
  padding-inline: 15px;
  margin-inline: auto;
}

.header-top {
  background: #75DDDA;
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-top__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #FFFFFF;
  transition: 0.2s;
}
@media (max-width: 991.8px) {
  .header-top__title {
    font-size: 20px;
  }
}
.header-top__title:hover {
  transform: translateX(20px);
}
@media (max-width: 991.8px) {
  .header-top__title:hover {
    transform: translateX(0);
  }
}
.header-top__social-box {
  display: flex;
  gap: 15px;
  align-items: center;
  justify-content: center;
}
@media (max-width: 991.8px) {
  .header-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.header-bottom__nav {
  display: flex;
  justify-content: flex-end;
}
.header-bottom__list {
  display: flex;
  gap: 10px;
  justify-content: flex-end;
}
@media (max-width: 991.8px) {
  .header-bottom__list {
    display: none;
  }
}
.header-bottom__link {
  text-decoration: none;
  color: black;
  transition: 0.2s;
  padding: 30px 10px;
}
.header-bottom__link:hover {
  color: #75DDDA;
  transform: scale(1.1);
}
.header-bottom__link:active {
  color: #1b9f9b;
}
.header-bottom__language {
  padding: 30px;
  width: 100px;
  position: relative;
  transition: 0.2s;
}
.header-bottom__language:hover {
  color: #75DDDA;
}
.header-bottom__language-list {
  display: none;
  background-color: #75DDDA;
  border-radius: 10px;
  width: 100%;
  padding: 20px;
  flex-direction: column;
  gap: 10px;
  position: absolute;
  top: 60px;
  right: 0;
  z-index: 2;
}
.header-bottom__language-item {
  cursor: pointer;
  transition: 0.2s;
  padding: 5px 10px;
  color: black;
}
.header-bottom__language-item:hover {
  color: white;
  transform: scale(1.1);
}

.social-images {
  transition: 0.2s;
}
.social-images:hover {
  transform: scale(1.2);
}

.invisible {
  display: none;
}

.nav-visible {
  display: block;
  position: fixed;
  background-color: white;
  right: 0;
  left: 0;
  bottom: 0;
  top: 0;
  height: 100%;
  z-index: 2;
  text-align: center;
  padding-top: 100px;
}

.flex {
  display: flex;
}

.burger {
  margin-left: 30px;
  position: relative;
  width: 30px;
  height: 21px;
  cursor: pointer;
  z-index: 3;
}
@media (min-width: 992px) {
  .burger {
    display: none;
  }
}

.burger span, .burger span:before, .burger span:after {
  width: 100%;
  position: absolute;
  height: 2px;
  background: black;
  display: block;
  transition: 0.3s;
  border-radius: 5px;
}

.burger span:before {
  content: "";
  top: -8px;
  transition: top 300ms 300ms, transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.burger span {
  top: 8px;
}

.burger span:after {
  content: "";
  bottom: -8px;
  transition: bottom 300ms 300ms, transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.burger span.active:before {
  content: "";
  top: 0;
  transform: rotate(45deg);
  transition: top 300ms, transform 300ms 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.burger span.active:after {
  content: "";
  bottom: 0;
  transform: rotate(-45deg);
  transition: bottom 300ms, transform 300ms 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.burger span.active {
  background: rgba(255, 255, 255, 0);
}

.block {
  display: block;
  position: fixed;
}

.animate img {
  width: 100%;
}

.expertise {
  background-color: #EFFFFF;
  padding: 20px;
  transition: 0.2s;
}
.expertise-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.expertise__text {
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: -0.011em;
  color: #000000;
}
@media (max-width: 991.8px) {
  .expertise__text {
    text-align: center;
    font-size: 18px;
  }
}
.expertise__text i {
  text-decoration: none;
  cursor: pointer;
  font-style: normal;
  position: relative;
  transition: 0.2s;
}
.expertise__text i:after {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  bottom: -3px;
  width: 0;
  height: 2px; /* Высота линии */
  background-color: black; /* Цвет подчеркивания при исчезании линии*/
  transition: width 0.5s; /* Время эффекта */
}
.expertise__text i:hover:after {
  content: "";
  width: 100%;
  display: block;
  position: absolute;
  left: 0;
  bottom: -3px;
  height: 2px; /* Высота линии */
  background-color: #1b9f9b; /* Цвет подчеркивания при появлении линии*/
  transition: width 0.5s; /* Время эффекта */
}
.expertise__text i:hover {
  color: #1b9f9b;
}
.expertise__img {
  width: 30px;
  cursor: pointer;
  transition: 0.2s;
}
.expertise__footnote {
  height: 0;
  font-size: 0;
  transition: 0.2s;
  text-align: center;
}

.accordeon-open {
  font-size: 16px;
  padding-block: 34px;
  border: 1px solid black;
  margin-top: 20px;
}

.rotate {
  transform: rotateZ(180deg);
}

.work__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  color: #000000;
  text-align: center;
}
@media (max-width: 991.8px) {
  .work__title {
    font-size: 30px;
  }
}
.work-box {
  background-color: #70D4D6;
  padding: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.work-titles {
  flex-grow: 3;
  display: flex;
  flex-direction: column;
  border-right: 4px solid #A6ECEF;
}
.work-titles__text {
  text-align: right;
  font-weight: 500;
  font-size: 32px;
  line-height: 24px;
  letter-spacing: -0.011em;
  color: #A6ECEF;
  cursor: pointer;
}
@media (max-width: 991.8px) {
  .work-titles__text {
    text-align: center;
    color: #FFFFFF;
  }
}
.work-titles__text:hover {
  color: #cbf6f5;
}
@media (max-width: 991.8px) {
  .work-titles__text:hover {
    color: white;
  }
}
.work-titles__text:active {
  color: #1b9f9b;
}
@media (max-width: 991.8px) {
  .work-titles__text:active {
    color: white;
  }
}
.work-descriptions {
  flex-grow: 4;
  padding-left: 40px;
}
.work-descriptions__text {
  font-size: 20px;
  line-height: 32px;
  letter-spacing: -0.011em;
  color: #FFFFFF;
  transition: 0.2s;
  transform: scale(0);
}

.visible {
  transform: scale(1);
}

.work-titles__text {
  border-right: none;
  margin-right: -4px;
  padding-right: 40px;
  padding-block: 20px;
}
@media (max-width: 991.8px) {
  .work-titles__text {
    padding-right: 0;
  }
}

.work-titles__text.selected {
  border-right: 4px solid rgba(0, 178, 182, 0.75);
  color: white;
  padding-right: 36px;
}
@media (max-width: 991.8px) {
  .work-titles__text.selected {
    border-right: none;
  }
}

@media (max-width: 991.8px) {
  .desctop {
    display: none;
  }
}

.work-mobile {
  background-color: #70D4D6;
  padding-block: 50px;
}
@media (min-width: 992px) {
  .work-mobile {
    display: none;
  }
}
.work-mobile h2 {
  padding-bottom: 50px;
}
.work-mobile p {
  transform: scale(1);
  text-align: center;
  padding-bottom: 60px;
}

.categories {
  padding-block: 40px;
}
.categories-box {
  padding-inline: 50px;
  display: flex;
  flex-direction: column;
  gap: 100px;
}
@media (max-width: 991.8px) {
  .categories-box {
    padding-inline: 0;
  }
}
.categories-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 991.8px) {
  .categories-item {
    flex-direction: column;
  }
}
.categories-item__title {
  text-align: center;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  padding-bottom: 20px;
}
.categories-item__box {
  max-width: 450px;
  padding: 30px;
  border-radius: 5px;
}
@media (max-width: 991.8px) {
  .categories-item__box {
    max-width: 100%;
  }
}
.categories-item__descriptions {
  text-align: center;
  padding-bottom: 15px;
}
.categories-item__btn {
  border: none;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25);
  width: 180px;
  padding: 14px;
  border-radius: 10px;
  margin-inline: auto;
  text-align: center;
  display: block;
  cursor: pointer;
  transition: 0.2s;
}
.categories-item__btn:hover {
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}
.categories-item__btn:active {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
}

.categories-item:nth-child(even) {
  flex-direction: row-reverse;
}
@media (max-width: 991.8px) {
  .categories-item:nth-child(even) {
    flex-direction: column;
  }
}

#categoriesItemInfo1 {
  background-color: #E6FFDE;
}
#categoriesItemInfo1 button {
  background: linear-gradient(180deg, rgba(155, 237, 127, 0.45) 0%, rgba(252, 251, 209, 0.45) 100%);
}

#categoriesItemInfo2 {
  background-color: #FDD1EA;
}
#categoriesItemInfo2 button {
  background: linear-gradient(180deg, #f39acc 0%, rgba(255, 202, 232, 0) 100%);
}

#categoriesItemInfo3 {
  background-color: #FCFBD1;
}
#categoriesItemInfo3 button {
  background: linear-gradient(180deg, #FFFEA1 0%, rgba(252, 251, 209, 0.53) 100%);
}

#categoriesItemInfo4 {
  background-color: #E8F1FF;
}
#categoriesItemInfo4 button {
  background: linear-gradient(180deg, #ACCFFF 0%, #E8F1FF 100%);
}

.about {
  padding-bottom: 60px;
}
.about-team__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 32px;
  text-align: center;
  letter-spacing: -0.019em;
  color: #000000;
  padding-block: 40px;
}
.about-team__image {
  margin-inline: auto;
  max-width: 780px;
  max-height: 520px;
}
.about-team__image-picture {
  width: 100%;
}
.about-work__box {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.work-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 150px;
  padding-block: 20px;
}
@media (max-width: 991.8px) {
  .work-item {
    flex-direction: column;
    padding-inline: 20px;
    gap: 20px;
  }
}
.work-item__info {
  max-width: 450px;
}
.work-item__info-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  letter-spacing: -0.019em;
  color: #000000;
  padding-bottom: 40px;
}
.work-item__info-descriptions {
  font-size: 16px;
  line-height: 32px;
  text-align: center;
  letter-spacing: -0.019em;
}

.work-item:nth-child(even) {
  background-color: #EFFFFF;
}

.footer {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.footer-container {
  width: 100%;
  height: 100%;
  background: rgba(0, 178, 182, 0.7);
  padding: 100px;
  color: #00B2B6;
}
@media (max-width: 991.8px) {
  .footer-container {
    padding-block: 30px;
  }
}
.footer__title {
  font-weight: 700;
  font-size: 48px;
  line-height: 36px;
  text-align: center;
  letter-spacing: -0.011em;
  color: #FFFFFF;
  padding-bottom: 60px;
}
@media (max-width: 991.8px) {
  .footer__title {
    font-size: 36px;
  }
}
.footer-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
@media (max-width: 991.8px) {
  .footer-box {
    flex-direction: column;
  }
}
@media (max-width: 991.8px) {
  .footer-address {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}
.footer-address__title {
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  color: #FFFFFF;
}
.footer-address__address {
  display: block;
  font-size: 20px;
  line-height: 36px;
  letter-spacing: -0.011em;
  color: #FFFFFF;
  font-style: normal;
}
.footer-address__map {
  font-style: italic;
  font-size: 20px;
  line-height: 36px;
  letter-spacing: -0.011em;
  color: #FFFEA1;
  cursor: pointer;
  transition: 0.2s;
}
.footer-address__map:hover {
  color: #f8f771;
  transform: scale(1.1);
}
.footer-tel a {
  text-decoration: none;
  color: #FFFFFF;
}
.footer-tel__number {
  padding: 10px;
}
.footer-tel .header-top__social-box {
  padding-top: 20px;
}

.popup {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  background-color: rgba(128, 128, 128, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  padding-inline: 20px;
}
.popup iframe {
  border-radius: 20px;
}
.popup-close {
  position: fixed;
  top: 50px;
  right: 50px;
  font-size: 30px;
  cursor: pointer;
  transition: 0.2s;
  color: #FFFFFF;
  padding: 10px;
}
.popup-close:hover {
  transform: rotateZ(180deg);
}

/*# sourceMappingURL=index.css.map */
